[submodule "src/submodules/awesome-github-stats"]
	path = src/submodules/awesome-github-stats
	url = https://github.com/brunobritodev/awesome-github-stats
[submodule "src/submodules/github-readme-streak-stats"]
	path = src/submodules/github-readme-streak-stats
	url = https://github.com/DenverCoder1/github-readme-streak-stats
[submodule "src/submodules/github-readme-stats"]
	path = src/submodules/github-readme-stats
	url = https://github.com/anuraghazra/github-readme-stats
[submodule "src/submodules/github-profile-trophy"]
	path = src/submodules/github-profile-trophy
	url = https://github.com/ryo-ma/github-profile-trophy
